
.card{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 170px;
}


.card-flex{
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 30px;
    width: 287px;
    height: 340px;
}



.img-dog {
   
    /* margin: 20px ; */
     margin-left: 190px;
     
}

.img-dog  img {

    width: 291px;
    height: 390px;
    margin: 20px;
    object-fit: cover;
   
}


@media screen and (max-width: 768px) {
    #sec-img{
        margin-top: 250px;
        margin-left: -40px;
     
    }


    .img-dog > img{
        width: 860px;
        height: 90%;
    }

}







