.footer2-line{
    margin-top: 120px;
    border: 1px solid #E3E7EE;
}


.footerC {
    padding-top: 40px;
    display: flex;
    
}


.footerD > h4{
padding-left: 20px;
}

.footerD > img {
    position: relative;
    top: 20px;
}

.footerE{
    padding-top: 20px;
    padding-left: 60px;
    text-decoration: underline;
}

.footerF {
    padding-top: 20px;
    padding-left: 60px; 
    text-decoration: underline;

}


.footerG {
    margin-left: 220px;
}

.footerG > select {
    width: 304px;
    height: 40px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1.2px solid #70788C;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}



.dog-footer-box{
    margin-left: 690px;
    padding-top: 50px;
    display: flex;
    gap: 290px;
}


.footerH > img {
    margin-left: 70px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    
   .footerA {
       position: relative;
       right: 600px;
       font-size: 60px;
       padding-top: 250px;
       
   }
   
   .footerB {
   
    position: relative;
    right: 1130px;
    font-size: 60px;
    min-width: 300px;
   }

     
     
       .footerD > img {
          width: 50px;
          margin-left: 50px;
          /* height: 40px; */
       }

       .footerD {
           margin-top: -30px;
       }

       .wiz{
           margin-top: -20px;
         
       }
   

   .footerH > img {
       width: 280px;
      position: relative;
      right: 760px;
      bottom: 260px;
   }

   .footerG{
      margin-left: -1033px;
      
   }


   .footerG > select {
       width: 700px;
       height: 90px;
       font-size: 28px;
   }

    .footer-drop{
        padding-top: 150px;
       
    }

    .footer-drop > h4 {
        width: 250px;
        font-size: 30px;
        margin-left: 80px;
    }

   
}